<a href="https://colab.research.google.com/github/tapijelly/CST182-1033505/blob/main/Lab_03_Looping_%7C_1033505.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB #03** - Looping
<br/>

><table>
##**Lab Overview**

These lab questions will help develop your understanding of how loops work and some of the applications where loops are used.  
></table>

<br/><br/>

# **Question #1** - Aggregates on User Input
---
<br/>

Write a program that takes in from the user a list of marks until the user enters a negative number. Once this is done, the program should calculate and display



1.   The number of marks
2.   The highest mark
3.   The lowest mark
4.   The average of the marks

(note: You cannot use the `max()` or `min()` functions)

<br/>


**<u>Example Run:</u>**<br/>
Mark #1? **50**<br/>
Mark #2? **60**<br/>
Mark #3? **-1**<br/>
Number of marks = 2<br/>
Highest Mark = 60<br/>
Lowest Mark = 50<br/>
Average Mark = 55<br/>
<br/>

<Br/>

><table>
### BONUS
---
Try and add some validation into the program where if the user enters a mark over 100, a message is sent to the user that lets them know that the mark is invalid (and it doesn't add the mark to the statistics - the program just loops again to get another mark).
</table>

### Your Answer:

In [7]:
# Student Name: LEELA ALOYSIUS
# Student Number: 1033505

# Add answer below this line
nums = []
count = 1
marks = 0

while True:
    mark = int(input(f"Mark #{count}? "))
    if mark > 100:
      print("Mark is invalid")
      continue
    if mark < 0:
        break
    nums.append(mark)
    count += 1
    marks += 1

if marks == 0:
    print("No marks entered.")

else:
    highest = nums[0]
    lowest = nums[0]
    total = 0

    for mark in nums:
        if mark > highest:
            highest = mark
        if mark < lowest:
            lowest = mark
        total += mark

    average = total / marks

    print("Number of marks =", marks)
    print("Highest Mark =", highest)
    print("Lowest Mark =", lowest)
    print("Average Mark =", round(average, 1))

Mark #1? 101
Mark is invalid
Mark #1? 2
Mark #2? 9
Mark #3? 40
Mark #4? -1
Number of marks = 3
Highest Mark = 40
Lowest Mark = 2
Average Mark = 17.0

<Br/><br/>

# **Question #2** - Interest Earning Calculator
---

<br/>

Create a program that takes in details of a fixed-term interest saving account (initial balance, number of years, interest rate percentage) and creates a nicely formatted table that shows the details for each year. <br/><br/>


**<u>Example Run:</u>**<br/>
Balance? **100000**<br/>
Years? **10**<br/>
Interest Rate(%)? **5**<br/>
```
Year      Balance     Interest   Total Int.
-------------------------------------------
   1   105,000.00     5,000.00     5,000.00
   2   110,250.00     5,250.00    10,250.00
   3   115,762.50     5,512.50    15,762.50
   4   121,550.62     5,788.12    21,550.62
   5   127,628.16     6,077.53    27,628.16
   6   134,009.56     6,381.41    34,009.56
   7   140,710.04     6,700.48    40,710.04
   8   147,745.54     7,035.50    47,745.54
   9   155,132.82     7,387.28    55,132.82
  10   162,889.46     7,756.64    62,889.46
```

<br/><br/>

### Your Answer:

In [9]:
# Student Name: LEELA ALOYSIUS
# Student Number: 1033505

# Add answer below this line

bal = float(input('Balance? '))
year = int(input('Years? '))
interest_rate = float(input('Interest Rate(%)? '))

print(f"{'Year':>5} {'Balance':>15} {'Interest':>15} {'Total Int.':>15}")
print("-" * 50)

total_interest = 0

for current_year in range(1, year + 1):
    interest = bal * (interest_rate / 100)
    bal += interest
    total_interest += interest
    print(f"{current_year:>5} {bal:>15,.2f} {interest:>15,.2f} {total_interest:>15,.2f}")

Balance? 100000
Years? 10
Interest Rate(%)? 5
 Year         Balance        Interest      Total Int.
--------------------------------------------------
    1      105,000.00        5,000.00        5,000.00
    2      110,250.00        5,250.00       10,250.00
    3      115,762.50        5,512.50       15,762.50
    4      121,550.62        5,788.12       21,550.62
    5      127,628.16        6,077.53       27,628.16
    6      134,009.56        6,381.41       34,009.56
    7      140,710.04        6,700.48       40,710.04
    8      147,745.54        7,035.50       47,745.54
    9      155,132.82        7,387.28       55,132.82
   10      162,889.46        7,756.64       62,889.46

<br/><br/>

# **Submission**
---

When you believe you have the program correctly working, please run the program and enter valid details for each program so that the output is apparent.
<br/><br/>
When you are ready to submit please

*   go to `File` -> `Print` -> `Print PDF` and then upload and submit in the LMS.
*   save your file to GitHub via: `File` -> `Save a copy in GitHub`